<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css" type="text/css" charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="DJ software for Linux">
    <meta name="keywords" content="dj,software,free,open-source,mixing,vinyl,turntable">
    <meta name="viewport" content="width=device-width">
    <title>xwax{% if page.title %} - {{ page.title }} {% endif %}</title>
  </head>
  <body>

    <div id="header">
      <a href="/"><img src="/images/xwax.png" width="192" height="63" alt="xwax logo"/></a>
    </div>

    <div id="nav">
      <ul>
        <li><a href="http://xwax.org/"              >Home</a></li>
        <li><a href="http://xwax.org/overview.html" >Overview</a></li>
        <li><a href="http://xwax.org/download.html" >Download</a></li>
        <li><a href="http://xwax.org/interface.html">Audio interfacing</a></li>
        <li><a href="http://xwax.org/guide.html"    >Getting started</a></li>
        <li><a href="http://xwax.org/links.html"    >Links</a></li>
        <li><a href="http://xwax.org/contact.html"  >Contact</a></li>
        <li><a href="http://xwax.org/devel.html"    >Developers</a></li>
        <li><a href="/" class="current">Documentation</a></li>
      </ul>
    </div>

    <div id="main">
      <div class="title">
        <h1>{{ page.title }}</h1>
        <a href="https://github.com/xwax/xwax.github.io/edit/master/{{ page.path }}" class="edit">
          Edit this page
        </a>
      </div>
      {{ content }}
    </div>

    <div id="footer">
      <address>&copy; Copyright Mark Hills <script>a="@";m="mark"+a+"xwax.org";document.write("<a href=\"mailto:"+m+"\">"+m+"</a>");</script></address>
    </div>
  </body>
</html>
