<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css" type="text/css" charset="utf-8">
    <meta charset="utf-8">
    <meta name="description" content="DJ software for Linux">
    <meta name="keywords" content="dj,software,free,open-source,mixing,vinyl,turntable">
    <meta name="viewport" content="width=device-width">
    <title>xwax{% if page.title %} - {{ page.title }} {% endif %}</title>
  </head>
  <body>

    <div id="header">
      <a href="/"><img src="/images/xwax.png" width="192" height="63" alt="xwax logo"/></a>
    </div>

    <div id="nav">
      <ul>
        <li><a href="/"         >Home</a></li>
        <li><a href="/overview" >Overview</a></li>
        <li><a href="/download" >Download</a></li>
        <li><a href="/interface">Audio interfacing</a></li>
        <li><a href="/guide"    >Getting started</a></li>
        <li><a href="/links"    >Links</a></li>
        <li><a href="/contact"  >Contact</a></li>
        <li><a href="/devel"    >Developers</a></li>
        <li><a href="/" class="current">Documentation</a></li>
      </ul>
    </div>

    <div id="main">
      {{ content }}
    </div>

    <div id="footer">
      <address>&copy; Copyright Mark Hills <script>a="@";m="mark"+a+"xwax.org";document.write("<a href=\"mailto:"+m+"\">"+m+"</a>");</script></address>
    </div>
  </body>
</html>
